body{
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./i10.webp);
}

.container {
    width: 700px;
    padding-left: 0%;
    margin: auto; 
    position: absolute;
    left: 500px;
    color: white;
  }
  .container h2{
      color:white ;
      text-align: center;
      align-items: center;
      padding-right:200px;
      padding-top: 0px;
  }
  
  input[type=text], input[type=email], input[type=password] {
    width: 70%;
    padding:15px;
    margin: 5px 0 22px 0;
    text-align:left;
    display: block;
    border: none;
    background: white;
    align-items: center;
  }
  
  input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    background-color: white;
    outline: black;

  }
  
  button {
    background-color: green;
    color: white;
    text-align: center;
    padding: 14px 40px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.8;
    left: 250px;
    align-items: center;
    position: relative;

  }
  a{
    position: relative;
    right: 80px;
  }
  
  button:hover {
    opacity:1;
  }
  .main{
      text-align: center;
      color: greenyellow;
  }

  label{
    padding: 15px;
  }
  